<p id="notice"><%= notice %></p>

<p>
  <strong><%= I18n.t '.products.show.title' %>:</strong>
  <%= @product.title %>
</p>

<p>
  <strong><%= I18n.t '.products.show.description' %>:</strong>
  <%= @product.description %>
</p>

<%= link_to "#{I18n.t '.products.show.edit'}", edit_product_path(@product) %> |
<%= link_to "#{I18n.t '.products.edit.back'}", products_path %>
